<h1>Welcome</h1>
<p>You are in the Admin zone.</p>
<p>You can change orders, products and users.</p>
<p>We have <%= pluralize(@total_orders, "order") %>, <%= pluralize(@total_users, "users") %> and <%= pluralize(@total_products, "products") %>.</p>
<p>&nbsp&nbsp</p>
<p>&nbsp&nbsp</p>
It's <%= Time.now %>


