<h1>About us / Acerca de</h1>
<table>
  <tr>
    <th width="50%">
	<br><img src="/images/bandera_reino_unido.gif" alt="Bandera Reino Unido"></img></br>
	<br>Welcome to the website of our company.</br>
        <br>We are pleased to provide our services.</br>
<<<<<<< HEAD
        <br>If you have any questions, needs or complaints</br>
=======
        <br>If you have any questions, needs or complaints
>>>>>>> b87b8c3295955d5645ac8d6ce330aa2cb22d1efe
        <br> do not hesitate to contact us.</br>
        <br>Thanks for visiting.</br></th>
    <th width="50%">
	<br><img src="/images/bandera_spain.gif" alt="Bandera Spain"></img></br>
	<br>Bienvenido a la página web de nuestra empresa.</br>
        <br>Nos complace ofrecer nuestros servicios.</br>
        <br>Si usted tiene alguna pregunta, necesida o queja</br>
        <br>no dude en contactar con nosotros.</br>
        <br>Gracias por su visita.</br></th>
    <th></th>
  </tr>
</table>
<h2><hr>Contact<h2>
<p></p>
<p align="center">Adress / Dirección        &nbsp&nbsp : &nbsp&nbsp   St. Grand Parade 21, &nbsp Ireland (Cork)</p>
<p align="center">Phone / Tlf  &nbsp&nbsp : &nbsp&nbsp    0034675127318   -   353687556419</p>
<p align="center">Fax            &nbsp&nbsp : &nbsp&nbsp   0034675127320</p>
<p align="center">E-mail  &nbsp&nbsp : &nbsp&nbsp   chonapochona@hotmail.com</p>
<br />

